<%- include("partials/header.ejs") %>

<div class="container">
<h1>Blog Posts</h1>
<ul>
  <% if (posts && posts.length > 0) { %>
    <% posts.forEach(post => { %>
      <li>
        <h2><%= post.ID  || 'No ID Available' %>. TITLE: <%= post.TITLE || 'No Title Available' %></h2>
        <p><%= post.CONTENT || 'No Content Available' %></p>

      </li>
    <% }); %>
  <% } else { %>
    <p>No posts available</p>
  <% } %>
</ul>
<a href="/create">Create a New Post</a>

</div>

<%- include("partials/footer.ejs") %>
